<html>
  <body>
    <div id="scope1">
      <a href="/simple_html.html">one</a>
      <form action="/simple_html.html">
        <button>Click</button>
      </form>
    </div>
    <div id="scope2">
      <a href="/form.html">one</a>
      <form action="/form_without_method.html">
        <button>Click</button>
      </form>
    </div>
    <div id="scope3">
      <a href="#anchor">destiny</a>
      <div id="scope4">
        <a href="/simple_html.html?my_text=msq">pick</a>
      </div>
    </div>
  </body>
</html>
