<html>
  <body>
    <div id="scope1">
      <a href="/simple_get">one</a>
      <form action="/simple_get">
        <button>Click</button>
      </form>
    </div>
    <div id="scope2">
      <a href="/form">one</a>
      <form action="/form_without_method">
        <button>Click</button>
      </form>
    </div>
    <div id="scope3">
      <a href="#anchor">destiny</a>
      <div id="scope4">
        <a href="/simple_get?my_text=msq">pick</a>
      </div>
    </div>
  </body>
</html>
