<a href="/second_page.html">link q9</a>
unique response 445d
<a href="#only_anchor">anchor!!!1</a>
<a href="/second_page.html#anchor">anchor elsewhere</a>
<a href="/request_headers.html">link to a page displaying the referer</a>
<a href="simple_html.html">link without leading slash</a>
