<html>
  <body>
    <form action="/doit" method="post">
      <input id="id0" type="text" name="p1" value="init value"/>
      <label for="id1">The label</label>
      <input id="id1" type="text" name="p2"/>
      <input id ="id2" name="p3"/>
      <input id="id3" type="checkbox" name="p4"/>
      <input type="submit" value="Send me"/>
      <label for="id2">Not unique</label>
      <label for="id3">Not unique</label>
      <label for="id4">Body</label>
      <textarea id="id4" name="p5">Initial value</textarea>
      <input id="id5" type="password" name="p6"/>
      <input disabled name="p7" value="disabled"/>
      <input id="id6" type="checkbox" checked name="p8"/>
      <input id="id7" type="text" name="p9" value="a&b"/>
      <input id="id9" type="radio" name="p10" checked value="radio value 2"/>
      <input id="id8" type="radio" name="p10" value="radio value 1"/>
      <input id="id10" type="radio" name="p11" value="radio value 3"/>
      <input id="id11" type="radio" checked name="p12"/>
      <input type="submit" name="button" value="submit post"/> 
      <select name="p13">
	<optgroup label="group label">
	  <option id="here" value="not selected">not selected</option>
	  <option selected value="selected">selected</option>
	  <option disabled value="disabled" id="disabled">disabled</option>
	</optgroup>
	<option value="not selected">not selected</option>
      </select>
      <select name="p14" multiple>
	<option value="selected1" selected>selected</option>
	<option id="here" value="not selected">not selected</option>
	<option value="selected2" selected>selected too</optino>
      </select>
      <button name="button" value="button post">button post</button>
    </form>
    <form action="/doit" method="get">
      <div>
        <input type="submit" value="submit get"/>
        <button>button get</button>
      </div>
    </form>
    <button>random button</button>
  </body>
</html>
