<html>
  <body>
    <form action="/doit">
      <input type="text" name="p1" value="init value"/>
      <input type="text" name="p2"/>
      <input type="submit" value="Send me"/>
    </form>
  </body>
</html>
