<html>
  <body>
    <a href="/second_page">link q9</a>
    unique response 445d
    <a href="#only_anchor">anchor!!!1</a>
    <a href="/second_page#anchor">anchor elsewhere</a>
    <a href="/request_headers">link to a page displaying the referer</a>
    <a href="simple_get">link without leading slash</a>
  </body>
</html>
