<html>
  <body>
    <a href="/second_page">link q9</a>
    unique response 445d
    <a href="#only_anchor">anchor!!!1</a>
    <a href="/second_page#anchor">anchor elsewhere</a>
    <a href="/referer">link to a page displaying the referer</a>
  </body>
</html>
